@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
  align-items: center;
  text-align: center;
  margin: auto;
 }


body {
  text-align: center;
  margin: auto;
}

/* set rules for flex container */
.DogList {
  /* allows flexbox*/
  display: flex;
  /* orient flexbox into rows */
  flex-direction: row;
  /* If you run out of room, wrap around to a new row */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* set rules for items in flex container */
.Dog {
  /* create space around component */
  margin: 2vw;
  /* creates space within component, but around its contents */
  padding: 2vw;
  /* set height and width */
  height: auto;
  width: 300px ;
}


.dog-grid {
  justify-content: space-evenly;
  max-width:fit-content;
}



/* rule for all img elements */
img {
  width: auto;
  height: 360px;
  padding: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.form-container{
  text-align: center;
  width: 360px;
}
.Navbar-container{
  display:flex;
}


.Container {
  align-self: stretch;
}
.Footer{
  font-family: 'Roboto', sans-serif;
  color:red;

}

/* .Card.Header{
  font-family: 'Courier New', Courier, monospace;
  color:black;
  background-color: black;
  padding: 2vw;
  padding-block-end: 2rem;

} */